<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hg.www.selller">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <application
        android:name=".GlobalContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.MainActivity"
            android:theme="@style/Theme.Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.EditCommodityActivity" />
        <activity android:name=".ui.CommodityListActivity" />
        <activity
            android:name=".ui.PrepareOrderListActivity"
            android:noHistory="true" />
        <activity android:name=".ui.NewOrderListActivity" />
        <activity android:name=".ui.AcceptedOrderListActivity" />
        <activity android:name=".ui.LoadedOrderListActivity" />
        <activity android:name=".ui.PaidOrderListActivity" />
        <activity android:name=".ui.ReturnedOrderListActivity" />
        <activity android:name=".ui.ClaimedOrderListActivity" />
        <activity
            android:name=".ui.CheckLoadingOrderListActivity"
            android:noHistory="true" />
        <activity
            android:name=".ui.CheckReturnOrderListActivity"
            android:noHistory="true" />
        <activity android:name=".ui.PickImageActivity" />
        <activity
            android:name=".ui.CaptureActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden">
        </activity>
    </application>

</manifest>
